@model IEnumerable<RID.Models.Tecnico.ListTecnicoViewModel>

<div class="row">

    <div class="col-md-12 ui-sortable">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="~/Tecnico/Create" class="btn btn-xs btn-primary" data-original-title="Crear Usuario" title="Crear Usuario"><i class="fa fa-plus"></i> Crear Técnico</a>
                </div>
                <h4 class="panel-title">Técnico</h4>
            </div>
            <div class="panel-body">
                <table class="table" data-class="dataTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Apellido)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Puesto)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Apellido)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Puesto)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.IdTecnico }) |
                                    @if (Convert.ToBoolean(item.activo))
                                    {

                                        @Html.ActionLink("Desactivar", "Delete", new { id = item.IdTecnico })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Activar", "Delete", new { id = item.IdTecnico })
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('table').dataTable();
    </script>
}