@model IEnumerable<RID.DB.salida_detalle>

@{
    ViewBag.Title = "Reporte";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    <div><a href="@Url.Action("ExportarSalidas")"> Report PDF </a></div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_detalle_salida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_salida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_maquina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_tecnico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_lote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cant_aentregar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_detalle_salida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_salida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_maquina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_tecnico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_lote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cant_aentregar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activo)
        </td>

    </tr>
}

</table>
